body {
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-image {
  padding: 0px;
    /*background: url("/images/Blue-Flower-HD-Background.jpg");*/
    background-repeat: no-repeat;
    background-size:cover;
}
.login {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}
.login-card {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 3px 10px #ccc;
}

.login-card .btn-sec {
  display:flex;
}
.login-card .btn-sec button {
  flex:1;
  border:none;
  border-radius:0px;
  color:black;
  background-color:white;
  height:50px;
  outline:none;
}

.btn-sec button.active {
  background-color: #00a8bd;
  color: white;
}
.login-btn, .signup-btn {
  width: 130px;
  background-color: #00BCD4 !important;
  border: none !important;
  margin-top: 20px;
  box-shadow: 1px 3px 5px #cccc;
}
.card-body {
    display: none;
}
.card-body.active {
    display: block;
}

.disp-flex {
    display: flex;
}
.disp-flex .firstname{
    margin-right:5px;
}
.disp-flex .lastname {
    margin-left:5px;
}
.form-group {
    margin-bottom: 1.5rem;
}
.form-control {
    border: none !important;
    box-shadow: 0px 1px 8px #ececec;
}
.form-control:focus {
    outline: none;
    box-shadow: 0px 1px 6px #33e2f9 !important;
}